Il fait le preprocessing du fichier 'entree_eleves', qui contient une colonne par métier/secteur.

In [215]:
import pandas as pd
import numpy as np

In [216]:
entree_eleves_path = "../entree/Répartition def eleves  participant V2.xlsx"
entree_parents_path = "../entree/Fichier participants forum des métiers 2024.xlsx"

entree_eleve_apres_pretraitement = "../entree/entree_eleves_après_prétraitement.xlsx"
entree_parents_apres_pretraitement = "../entree/entree_parents_après_prétraitement.xlsx"

In [217]:
eleves_src = pd.read_excel(entree_eleves_path)
# eleves_src = eleves_src.drop(labels=[0])
eleves_src.head()

,Nom,Prénom,Classe,répondu,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du Droit,...,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d’entreprise,Journaliste,Pilote de ligne,Métiers de l'enseignement,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Élèves (149),NaN,NaN,63% (94),14.0,29.0,14.0,19.0,19.0,33.0,...,24.0,13.0,12.0,18.0,18.0,13.0,14.0,Total,NaN,NaN
1,Nbre de participant,NaN,NaN,NaN,1.0,2.0,1.0,2.0,1.0,3.0,...,3.0,1.0,1.0,1.0,1.0,1.0,2.0,3,39.0,NaN
2,NaN,NaN,NaN,NaN,14.0,14.5,14.0,9.5,19.0,11.0,...,8.0,13.0,12.0,18.0,18.0,13.0,7.0,3,NaN,NaN
3,5 créneaux,NaN,NaN,5,2.8,2.9,2.8,1.9,3.8,2.2,...,1.6,2.6,2.4,3.6,3.6,2.6,1.4,3,NaN,NaN
4,ABEHASSERA,Mathys,301,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN

In [218]:
# We first filter out unwanted rows and columns

eleves_src = pd.read_excel(entree_eleves_path)
eleves_src = eleves_src.drop(labels=[0, 1, 2, 3], axis="index")
eleves_src = eleves_src.drop(columns=["répondu"])
eleves_src = eleves_src.drop(eleves_src.filter(regex='Unnamed:').columns, axis="columns")
eleves_src = eleves_src.dropna(how="all")
list_classes = [301, 302, 303, 304, 305]
eleves_src = eleves_src[eleves_src["Classe"].isin(list_classes)]
eleves_src[-10:]

,Nom,Prénom,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du Droit,Les métiers de l'environnement,...,Médecin,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d’entreprise,Journaliste,Pilote de ligne,Métiers de l'enseignement
143,ROUMANE--HERAUDET,Mathias,305,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
144,ROUSSEAU LECARDINAL,Lana,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,ROUSSET,Gaël,305,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,RWIGEMA,Enzo,302,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
147,SEVESTRE,Youna,301,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
148,TARNUS,Philippe,304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,TRIBOUILLOY,Esther,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,WACHTHAUSEN-TRIMOUILLE,Aliénor,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
151,ZANNA,Arno,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,ZIDOUN,Mathéo,303,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [219]:
# Rearrange columns abd filters NaN

eleves = eleves_src.copy()
eleves["Destinataires"] = eleves["Nom"] + " " + eleves["Prénom"]
eleves = eleves.drop(columns=["Nom", "Prénom"])
eleves = eleves.set_index('Destinataires')
eleves = eleves.fillna(0)
eleves = eleves.replace('x',1)
eleves = eleves.replace('X',1)
eleves[-3:]

/tmp/ipykernel_190582/1172104273.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  eleves = eleves.fillna(0)

,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du Droit,Les métiers de l'environnement,Les métiers de la finance,Les métiers de l'informatique,...,Médecin,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d’entreprise,Journaliste,Pilote de ligne,Métiers de l'enseignement
Destinataires,,,,,,,,,,,,,,,,,,,,,
WACHTHAUSEN-TRIMOUILLE Aliénor,302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
ZANNA Arno,305,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ZIDOUN Mathéo,303,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [220]:
eleves.columns

Index(['Classe', 'Les métiers de l'aéronautique',
       'Les métiers de l'alimentation', 'Les métiers de l'assurance',
       'Les métiers de l'automobile', 'Les métiers de la communication',
       'Les métiers du Droit', 'Les métiers de l'environnement',
       'Les métiers de la finance', 'Les métiers de l'informatique',
       'Les métiers de l'industrie pharmaceutique',
       'Les métiers de la logistique', 'Les métiers de la santé', 'Médecin',
       'Les métiers scientifiques: ingénieur',
       'Les métiers scientifiques: chercheur', 'Les métiers de la sécurité',
       'Les métiers du spectacle', 'Les métiers de la télécommunication',
       'Chef d’entreprise', 'Journaliste', 'Pilote de ligne',
       'Métiers de l'enseignement'],
      dtype='object')

In [221]:
len(eleves.columns)

23

In [222]:
eleves.head()

,Classe,Les métiers de l'aéronautique,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de l'automobile,Les métiers de la communication,Les métiers du Droit,Les métiers de l'environnement,Les métiers de la finance,Les métiers de l'informatique,...,Médecin,Les métiers scientifiques: ingénieur,Les métiers scientifiques: chercheur,Les métiers de la sécurité,Les métiers du spectacle,Les métiers de la télécommunication,Chef d’entreprise,Journaliste,Pilote de ligne,Métiers de l'enseignement
Destinataires,,,,,,,,,,,,,,,,,,,,,
ABEHASSERA Mathys,301,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
ALIX Lola,302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
ALLEGRO Emma,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASMAZ Defne,304,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
AUGUSTO Bruno,304,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [223]:
eleves_out = pd.DataFrame(index=eleves.index)
eleves_out["Classe"] = ""
eleves_out["Entretien 1"] = ""
eleves_out["Entretien 2"] = ""
eleves_out["Entretien 3"] = ""
eleves_out["Entretien 4"] = ""
eleves_out.head()

                  Classe Entretien 1 Entretien 2 Entretien 3 Entretien 4
Destinataires
ABEHASSERA Mathys
ALIX Lola
ALLEGRO Emma
ASMAZ Defne
AUGUSTO Bruno

In [224]:
for i in range(len(eleves)):
    a = eleves[i:(i+1)]
    # print(a)
    b = a.loc[:, (a>0).any()]
    c = b.columns.tolist()
    if len(c) < 5:
        c.append("")
    if len(c) < 4:
        print(a.index, len(c))
    eleves_out[i:(i+1)] = c
eleves_out['Classe'] = eleves['Classe'] 
eleves_out.head()

,Classe,Entretien 1,Entretien 2,Entretien 3,Entretien 4
Destinataires,,,,,
ABEHASSERA Mathys,301,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de la sécurité,
ALIX Lola,302,Les métiers de la logistique,Les métiers scientifiques: ingénieur,Chef d’entreprise,
ALLEGRO Emma,305,Les métiers du Droit,Les métiers de la finance,Les métiers scientifiques: ingénieur,
ASMAZ Defne,304,Les métiers de l'alimentation,Les métiers de l'assurance,Les métiers de la sécurité,
AUGUSTO Bruno,304,Les métiers de l'automobile,Les métiers de l'informatique,Les métiers du spectacle,

In [225]:
eleves_out.to_excel(entree_eleve_apres_pretraitement)

In [226]:
parents = pd.read_excel(entree_parents_path)

In [227]:
parents.head()

,Secteur,Participants,Métier,Mail,Tel,Confirmation,Créneau,debut,creneaux
0,Chef d’entreprise,Sophie Dumas,"direction collectivité, urbanisme, architecte,...",ENT,NaN,NaN,NaN,1,5
1,Les métiers de la télécommunication,Kabe ?,"Chef de projet produit, développement et autom...",kabe78@gmail.com,NaN,NaN,NaN,1,5
2,Les métiers de l'environnement,Saena Guillon,"Dir du développement ( RSE, INNOVATION)",saena.guillon@gmail.com,NaN,NaN,NaN,1,5
3,Les métiers du spectacle,Juliette Piédévache,Comédienne et metteure en scène (compagnie Gal...,galene.productions@gmail.com,NaN,NaN,NaN,1,5
4,Les métiers du Droit,Mathieu Tamet,Directeur juridique d'une société de construct...,mathieu.tamet@orange.fr,06 66 59 67 72,oui,tous,1,5

In [228]:
# Puts Participant name in front
parents = pd.read_excel(entree_parents_path)
parents = parents.rename(columns={"Participants ": "Participant"})
parents = parents[parents["Confirmation"] != "non"]
col = parents.pop("Participant")
parents.insert(0, col.name, col)
parents = parents.set_index("Participant")
parents = parents.drop(columns=["Tel", "Confirmation", "Créneau", "Mail"])
parents

,Secteur,Métier,debut,creneaux
Participant,,,,
Sophie Dumas,Chef d’entreprise,"direction collectivité, urbanisme, architecte,...",1,5
Kabe ?,Les métiers de la télécommunication,"Chef de projet produit, développement et autom...",1,5
Saena Guillon,Les métiers de l'environnement,"Dir du développement ( RSE, INNOVATION)",1,5
Juliette Piédévache,Les métiers du spectacle,Comédienne et metteure en scène (compagnie Gal...,1,5
Mathieu Tamet,Les métiers du Droit,Directeur juridique d'une société de construct...,1,5
Laurence Flesch,Les métiers du Droit,Juriste en entreprise,1,5
Dorian Guinard,Les métiers du Droit,Maître de conférences en droit public à l'Univ...,1,5
Eric Lacoste,Les métiers de l'industrie pharmaceutique,Responsable d’équipe de développement de procé...,1,5
Cécile,Les métiers de la communication,Manager dans les enquêtes (sondages),1,5
Emmanuel Félix,Les métiers de la santé,Kiné,1,5
Vanessa Badureaux,Les métiers de la santé,Infirmière,1,5
Solweig Guinard,Médecin,Médecin Urgentiste,1,5
FLorence Pelletier,Les métiers de la santé,maso kinésithérapeute,1,5
Patrick PICARD,Les métiers de la sécurité,Chef de la division interface des soutiens,1,5
Dominique Verdier,Les métiers de la sécurité,Majore de la gendarmerie,1,5
Maxime Nadaud,Les métiers de la sécurité,Pompier,1,5
Godbillot Alexandre,Les métiers de l'alimentation,Chef de Cuisine,1,5
Couteau Patrice,Les métiers de l'alimentation,Restauration,1,5
Anne Claire Demarigny,Les métiers de l'automobile,Qualité et développement en bureau d'études,1,5
Sandra Dausend,Les métiers de l'automobile,ingénieure process (réparabilité des voitures),1,5
Laurence Gille,Les métiers de l'informatique,Maîtrise d'Ouvrage Informatique,1,2
Corinne Gustin,Les métiers de l'informatique,Chef de projet/responsable animation et accult...,1,5
Julien Treillard,Les métiers de l'informatique,Responsable logiciel Informatique (Intelligenc...,1,5
Thomas Candela,Les métiers scientifiques: chercheur,Enseignant Chercheur,1,5
Denise Mery,Les métiers scientifiques: chercheur,Directrice de Portefeuille de projets de reche...,1,5
Marie Erard,Les métiers scientifiques: chercheur,Enseignant-chercheur / Chimie,1,5
Alexandre Demarque,Les métiers scientifiques: ingénieur,Ingénieur en analyse chimiques,1,5
Araceli Lopez,Les métiers scientifiques: chercheur,chercheur en physique nucléaire au CNRS,1,5
Eric Buchlin,Les métiers scientifiques: chercheur,Chercheur,1,5
Florence Rousset,Les métiers scientifiques: ingénieur,Ingénieur,1,5
Cécile Clement,Les métiers scientifiques: ingénieur,Ingénieur Innovation Chimie,1,5
Laetitia Thirion Lefevre,Les métiers scientifiques: chercheur,Enseignant-Chercheur (Professeur) Observation ...,1,5
Guillaume Joly,Pilote de ligne,Pilote de ligne,1,5
Anne Roy,Journaliste,Journaliste,1,5
Helene Lyonnet,Les métiers de la finance,directeur administratif et financier,1,5
Olivier Notheaux,Les métiers de l'assurance,tous les métiers de l'assurance,1,5
Florence Collet,Les métiers de la logistique,Responsable supply chaine projet,1,5
Ouseydi,Les métiers de l'aéronautique,Responsable Support Maintenance,1,5
Alexandre Bibloque,Métiers de l'enseignement,Amiteur service jeunesse Mairie de Saclay,1,5
Collège,Métiers de l'enseignement,NaN,1,5

In [229]:
parents.to_excel(entree_parents_apres_pretraitement)

In [230]:
eleves.columns

Index(['Classe', 'Les métiers de l'aéronautique',
       'Les métiers de l'alimentation', 'Les métiers de l'assurance',
       'Les métiers de l'automobile', 'Les métiers de la communication',
       'Les métiers du Droit', 'Les métiers de l'environnement',
       'Les métiers de la finance', 'Les métiers de l'informatique',
       'Les métiers de l'industrie pharmaceutique',
       'Les métiers de la logistique', 'Les métiers de la santé', 'Médecin',
       'Les métiers scientifiques: ingénieur',
       'Les métiers scientifiques: chercheur', 'Les métiers de la sécurité',
       'Les métiers du spectacle', 'Les métiers de la télécommunication',
       'Chef d’entreprise', 'Journaliste', 'Pilote de ligne',
       'Métiers de l'enseignement'],
      dtype='object')

In [231]:
set(parents.Secteur.unique()) - set(eleves.columns)

set()

In [232]:
set(eleves.columns) - set(parents.Secteur.unique())

{'Classe'}